@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Footer
========================================================================== */

#copyright {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1em;
}
