<div class="card jh-card">
  <div class="row justify-content-center">
    <div class="col-8">
      <div *ngIf="licenseRisk">
        <h2 data-cy="licenseRiskDetailsHeading"><span>License Risk</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ licenseRisk.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ licenseRisk.name }}</span>
          </dd>
          <dt><span>Level</span></dt>
          <dd>
            <span>{{ licenseRisk.level }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ licenseRisk.description }}</span>
          </dd>
          <dt><span>Color</span></dt>
          <dd>
            <span>{{ licenseRisk.color }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button
          *jhiHasAnyAuthority="['ROLE_USER', 'ROLE_ADMIN']"
          type="button"
          [routerLink]="['/license-risk', licenseRisk.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    </div>
  </div>
</div>
