<div class="card jh-card">
  <h2 id="page-heading" data-cy="GenericLicenseUrlHeading">
    <span>Generic License Urls</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-generic-license-url"
        [routerLink]="['/generic-license-url/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Generic License Url </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="genericLicenseUrls?.length === 0">
    <span>No genericLicenseUrls found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="genericLicenseUrls && genericLicenseUrls.length > 0">
    <table class="table table-sm" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Url</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let genericLicenseUrl of genericLicenseUrls; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/generic-license-url', genericLicenseUrl.id, 'view']">{{ genericLicenseUrl.id }}</a>
          </td>
          <td>{{ genericLicenseUrl.url }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/generic-license-url', genericLicenseUrl.id, 'edit']"
                class="btn btn-primary"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" (click)="delete(genericLicenseUrl)" class="btn btn-danger" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
