<div class="card jh-card">
  <h2 id="page-heading" data-cy="UploadHeading">
    <span>Uploads</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-upload"
        [routerLink]="['/upload/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Upload </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="uploads?.length === 0">
    <span>No uploads found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="uploads && uploads.length > 0">
    <table class="table table-sm" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <!--<th scope="col" jhiSortBy="file"><span>File</span> <fa-icon icon="sort"></fa-icon></th>-->
          <th scope="col" jhiSortBy="entityToUpload"><span>Entity To Upload</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="record"><span>Record</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="overwriteData"><span>Overwrite Data</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="uploadedDate"><span>Uploaded Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let upload of uploads; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/upload', upload.id, 'view']">{{ upload.id }}</a>
          </td>
          <!--<td>
            <a *ngIf="upload.file" (click)="openFile(upload.file, upload.fileContentType)">open</a>
            <span *ngIf="upload.file">{{ upload.fileContentType }}, {{ byteSize(upload.file) }}</span>
          </td>-->
          <td>{{ upload.entityToUpload }}</td>
          <td>{{ upload.record }}</td>
          <td>{{ upload.overwriteData }}</td>
          <td>{{ upload.uploadedDate | formatMediumDate }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/upload', upload.id, 'edit']" class="btn btn-primary" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" (click)="delete(upload)" class="btn btn-danger" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="uploads && uploads.length > 0">
    <div class="row justify-content-center mb-2">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
