<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-upload-heading" data-cy="UploadCreateUpdateHeading">Create or edit a Upload</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_file">File</label>
          <div>
            <div *ngIf="editForm.get('file')!.value" class="form-text text-danger clearfix">
              <a class="pull-start" (click)="openFile(editForm.get('file')!.value, editForm.get('fileContentType')!.value)">open</a><br />
              <span class="pull-start">{{ editForm.get('fileContentType')!.value }}, {{ byteSize(editForm.get('file')!.value) }}</span>
              <button
                type="button"
                (click)="editForm.patchValue({ file: null }); editForm.patchValue({ fileContentType: null })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_file" data-cy="file" (change)="setFileData($event, 'file', false)" />
          </div>
          <input type="hidden" class="form-control" name="file" id="field_file" data-cy="file" formControlName="file" />
          <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType" formControlName="fileContentType" />
          <div *ngIf="editForm.get('file')!.invalid && (editForm.get('file')!.dirty || editForm.get('file')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('file')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_entityToUpload">Entity To Upload</label>
          <select
            class="form-control"
            name="entityToUpload"
            formControlName="entityToUpload"
            id="field_entityToUpload"
            data-cy="entityToUpload"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let entityUploadChoice of entityUploadChoiceValues" [value]="entityUploadChoice">entityUploadChoice</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_record">Record</label>
          <input type="number" class="form-control" name="record" id="field_record" data-cy="record" formControlName="record" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_overwriteData">Overwrite Data</label>
          <input
            type="checkbox"
            class="form-check"
            name="overwriteData"
            id="field_overwriteData"
            data-cy="overwriteData"
            formControlName="overwriteData"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_uploadedDate">Uploaded Date</label>
          <div class="input-group">
            <input
              id="field_uploadedDate"
              data-cy="uploadedDate"
              type="text"
              class="form-control"
              name="uploadedDate"
              ngbDatepicker
              #uploadedDateDp="ngbDatepicker"
              formControlName="uploadedDate"
            />
            <button type="button" class="btn btn-secondary" (click)="uploadedDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
