<div class="card jh-card">
  <h2 id="page-heading" data-cy="LicensePerLibraryHeading">
    <span>License Per Libraries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-license-per-library"
        [routerLink]="['/license-per-library/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new License Per Library </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="licensePerLibraries?.length === 0">
    <span>No licensePerLibraries found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="licensePerLibraries && licensePerLibraries.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="linkType"><span>Link Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="license.id"><span>License</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="library.id"><span>Library</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let licensePerLibrary of licensePerLibraries; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/license-per-library', licensePerLibrary.id, 'view']">{{ licensePerLibrary.id }}</a>
          </td>
          <td>{{ licensePerLibrary.linkType }}</td>
          <td>
            <div *ngIf="licensePerLibrary.license">
              <a [routerLink]="['/license', licensePerLibrary.license.id, 'view']">{{ licensePerLibrary.license.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="licensePerLibrary.library">
              <a [routerLink]="['/library', licensePerLibrary.library.id, 'view']">{{ licensePerLibrary.library.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/license-per-library', licensePerLibrary.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/license-per-library', licensePerLibrary.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(licensePerLibrary)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="licensePerLibraries && licensePerLibraries.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
