<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="Files/style.css" />
    <title>FOSS Licenses</title>
  </head>
  <body>
    <h2>Free and Open Source Software (FOSS) and Third Party Components</h2>
    <h3>%{product}%</h3>
    <p>Creation Date: %{date}%</p>
    <div id="disclaimer">%{disclaimer}%</div>
    <p id="info"><span>&#9432;</span> The ZIP archive must be unpacked to display the HTML correctly and make all links work</p>
    <table>
      %{tableHeader}% %{tableContent}%
    </table>
  </body>
</html>
